body {
    background-color: rgb(231, 214, 227);
    font-family: sans-serif;
}
.container {
    max-width: 600px;
    margin: 60px 0;
    background-color: white;
    box-shadow: 10px 5px 5px rgba(100, 100, 111, 0.4);
    border-radius: 10px;
    padding: 20px;
}
h1 {
    text-align: center;
}

h2 {
    margin: 0 0 10px;
    font-size: 28px;
}

.city {
    color: rgb(131, 70, 187);
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px dashed rgb(214, 211, 211);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 36px;
    font-weight: bold;
}

.time small{
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}

select {
display: block;
width: 100%;
font-size: 15px;
padding: 10px;
border-radius: 20px;
}

footer{
    text-align: center;
    font-size: small;
    color: rgba(0, 0, 0, 0.7);
}